.list_header {
 color: red;
}
.recommendation_header {
  color: red;
}
.container {
  position: relative;
  width: 180px;
  height: 280px;
  float: left;
  padding-top:10px;
  margin:5px;
  border: 1px solid #ccc;
  text-align:center;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: cornflowerblue;
}
.button {
  position: absolute;
  width: 90%;
  height: 10%;
  left:5%;
  bottom: 16%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  color: white;
  background-color: blue;
  font-weight: bolder;
  border-radius: 5px;
}
.container:hover .button {
  opacity: 1;
}

