<div>
  <H1 class="list_header">My List </H1>
  <hr>
  <div *ngFor="let item of list_data" class="container">
    <img src={{item.img}} alt="" />
    <button class="button" name="{{item.id}}" (click)="remove($event)"> REMOVE </button>
    <p class="title"> {{ item.id + ': ' + item.title }}</p>
  </div>
  <div style="clear:both"></div>
</div>

<div>
  <H1 class="recommendation_header">Recommendation</H1>
  <hr >
  <div *ngFor="let item of remm_data" class="container">
    <img src={{item.img}} alt="" />
    <button class="button" name="{{item.id}}" (click)="add($event)"> ADD </button>
    <p class="title"> {{ item.id + ': ' + item.title }}</p>
  </div>
  <div style="clear:both"></div>
</div>


